@white: white;
@red:#CD5B45;
@gray:#F5F5F5;
@bgcolor: #F0F0F0;
@shadowcolor:	#D3D3D3;

body{
  background-color: @bgcolor;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navbar-brand {
  .center-text();
  width:100%;
}

.center-text{
    text-align: center;
}

.pic-panel {
  margin-top: 40px;
  padding-top: 40px;
  border: 0px solid @red;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 2px 2px 1px @shadowcolor;
  //box-shadow: none;
  background-color: @white;
}
.mid-img {
  width:80px;
  height:80px;
}
.min-img {
  width:40px;
  height:40px;
}
.float_center {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
}
.float_center > img {
  position: relative;
  left: 50%;
}
.none-border-padding {
  border: none;
  padding: 0;
}

.red-backgroud {
  background-color:@red;
}

.media {
  background-color: @white;
}
.media-body {
  padding-top: 10px;
  background-color: @white;
}

.pager li > a,
.pager li > span {
  .red-backgroud();
  display: inline-block;
  padding: 5px 14px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 2px 2px 1px @shadowcolor;
  &:focus{
    .red-backgroud();
  }
  &:active{
    .red-backgroud();
    box-shadow: none;
  }
  &:hover{
    .red-backgroud();
    cursor:pointer;
  }
  color:@white;
}

.concise-btn {
  .none-border-padding();
  color:gray;
  &:active{
    box-shadow: none;
    color:@red;
  }
  &.active{
    box-shadow: none;
    color:@red;
  }
}

.underline-btn {
  .concise-btn();
  &:active{
    border-bottom:2px solid @red;
  }
  &.active{
    border-bottom:2px solid @red;
  }
}
