<div class="float_center">
  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515755893593&di=81ed51d5f443cf0df7fc7d236dc0ed48&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201312%2F05%2F20131205171755_CU5Uc.jpeg" alt="..." class="img-circle mid-img">
</div>
<div class="panel panel-default pic-panel">
  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon">拼</span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入赏金总额（元）">
      <span class="input-group-addon">设置为普通包</span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入数量">
      <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-question-sign"></span></span>
      <input type="text" class="form-control" placeholder="输入你的问题" aria-describedby="basic-addon1">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-volume-up"></span></span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-ok-sign"></span></span>
      <input type="text" class="form-control" placeholder="设置答案" aria-describedby="basic-addon1">
    </div>
    <br>

    <nav aria-label="...">
      <ul class="pager">
        <li><a><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 发送红包</a></li>
      </ul>
    </nav>
  </div>
</div>
