<div class="float_center">
  <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515755893593&di=81ed51d5f443cf0df7fc7d236dc0ed48&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201312%2F05%2F20131205171755_CU5Uc.jpeg" alt="..." class="img-circle mid-img">
</div>
<div class="panel panel-default pic-panel">
  <div class="panel-body">
    <div class="input-group line-txt-group">
      <span class="input-group-addon">金额：</span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入赏金总额（元）">
    </div>
    <p class="text-desc"><h5>每人抽到的金额随机，<a>改为普通红包</a> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h5></p>
    <div class="input-group line-txt-group">
      <span class="input-group-addon">数量：</span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入数量">
    </div>
    <br>
    <div class="input-group line-txt-group">
      <span class="input-group-addon" id="basic-addon1">问题：</span>
      {{textarea-autosize rows=1 value=name class="form-control" placeholder="输入你的问题"}}
    </div>
    <br>
    <div class="input-group line-txt-group">
      <span class="input-group-addon" id="basic-addon1">答案：</span>
      <input type="text" class="form-control" placeholder="输入答案" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="center-text gray-text">需支付1%服务费</div>
    <br>
    <div class="btn-group btn-group-justified btn-send" role="group" aria-label="...">
      <a class="btn btn-primary btn-red" src="#"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 发送红包</a>
    </div>
  </div>
</div>
