<div class="panel panel-default">

  <div class="panel-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-text-width"></span></span>
      <input type="text" class="form-control" placeholder="输入话题" aria-describedby="basic-addon1">
      <span class="input-group-addon" aria-hidden="true" background-color=red>
        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
      </span>
     <span class="input-group-addon" aria-hidden="true" background-color=red>
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
      </span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-yen"></span></span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入赏金总额（元）">
      <span class="input-group-addon">元</span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-minus"></span></span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入数量">
      <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
    </div>
    <br>
    <nav aria-label="...">
      <ul class="pager">
        <li><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 发送红包</button></li>
      </ul>
    </nav>
  </div>
</div>
