<div class="float_center">
<img src="/img/qqtx.jpg" alt="..." class="img-circle mid-img">
</div>
<div class="panel panel-default pic-panel">
  <div class="panel-body">

    <div class="input-group line-txt-group">
      <span class="input-group-addon">金额：</span>
      <input type="text" class="form-control" aria-label="红包总额" placeholder="输入赏金总额（元）">
    </div>
    <p class="text-desc"><h5>每人抽到的金额随机，<a>改为普通红包</a> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h5></p>

    <div class="input-group line-txt-group">
      <span class="input-group-addon">数量：</span>
      <input type="text" class="form-control" aria-label="红包数量" placeholder="输入红包数量">
    </div>
    <br>

    <div class="input-group line-txt-group">
      <span class="input-group-addon" id="basic-addon1">话题：</span>
      {{textarea-autosize rows=1 value=name class="form-control" placeholder="输入你想说的话"}}
    </div>
    <br>
    <div class="center-text gray-text">需支付1%服务费</div>
    <br>
    <div class="btn-group btn-group-justified btn-send" role="group" aria-label="...">
      <a class="btn btn-primary btn-red" src="#">发送红包</a>
    </div>

  </div>
</div>
