<div id="redenvelopes-container" >
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true" background-color=red></span> 红包王</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> 邀请好友发红包 <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-send" aria-hidden="true" background-color=red></span> 分享到朋友圈</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>

{{outlet}}

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    {{#link-to "redenvelopes.create" class="btn btn-default"}}<span class="glyphicon glyphicon-envelope" aria-hidden="true" background-color=red></span><br>发红包{{/link-to}}
    {{#link-to "passwords.create" class="btn btn-default"}}<span class="glyphicon glyphicon-eye-open" aria-hidden="true" background-color=red></span><br>找红包{{/link-to}}
    {{#link-to "questions.create" class="btn btn-default"}}<span class="glyphicon glyphicon-user" aria-hidden="true" background-color=red></span><br>我的{{/link-to}}
  </div>
</nav>
</div>
