
<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1515755893593&di=81ed51d5f443cf0df7fc7d236dc0ed48&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201312%2F05%2F20131205171755_CU5Uc.jpeg" class="mid-img" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">铜豌豆</h4>
    余额：80
  </div>

  <div class="media-right">

  </div>
</div>
<br>

<ul class="list-group">
  <li class="list-group-item"><h4><span class="glyphicon glyphicon-list" style="color:#F00;"></span>  我的红包</h4>发过红包的历史列表</li>
  <li class="list-group-item"><h4><span class="glyphicon glyphicon-leaf"  style="color:#F00;"></span>  常见问题</h4>解决您使用过程的常见问题</li>
  <li class="list-group-item"><h4><span class="glyphicon glyphicon-fire"  style="color:#F00;"></span>  关注我们</h4>获取更多红包提醒</li>
</ul>

{{outlet}}
