    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      {{#link-to "redenvelopes.create" class="btn btn-default"}}<span class="glyphicon glyphicon-gift" aria-hidden="true" background-color=red></span> 话题红包{{/link-to}}
      {{#link-to "passwords.create" class="btn btn-primary"}}<span class="glyphicon glyphicon-lock" aria-hidden="true" background-color=red></span> 口令红包{{/link-to}}
      {{#link-to "questions.create" class="btn btn-default"}}<span class="glyphicon glyphicon-question-sign" aria-hidden="true" background-color=red></span> 问题红包{{/link-to}}
    </div>
{{outlet}}
