<div class="btn-group btn-group-justified" role="group" aria-label="...">
  {{#link-to "redenvelopes.create" class="btn underline-btn" }}
    <h4>话题红包</h4>{{/link-to}}
  {{#link-to "passwords.create" class="btn underline-btn" }}
    <h4>口令红包</h4>{{/link-to}}
  {{#link-to "questions.create" class="btn underline-btn" }}
    <h4>问题红包</h4>{{/link-to}}
</div>
<br> {{outlet}}
