<div class="panel panel-default">

  <ul class="media-list">
    <li class="media">
      <div class="media-left">
        <a href="#">
          <img src="/img/qqtx.jpg" alt="..." class="mid-img">
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">2018-01-20 <span class="badge">问答</span> <span class="badge">14/20</span></h5>

        猜谜语啦：一口咬掉牛尾巴（打一汉字）

      </div>

    </li>


    <li class="media">
      <div class="media-left">
        <a href="#">
          <img src="/img/qqtx.jpg" alt="..." class="mid-img">
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">2018-01-20 <span class="badge">话题</span> <span class="badge">14/50</span></h5>
        我们家小诺参加快乐宝贝，点击<a>快乐宝贝投票站</a>求各位投票支持下，谢谢啦！~~感谢~~~
      </div>
    </li>

    <li class="media">
      <div class="media-left">
        <a href="#">
          <img src="/img/qqtx.jpg" alt="..." class="mid-img">
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">2018-01-20 <span class="badge">话题</span> <span class="badge">14/50</span></h5>
        祝大家新年快乐，猴年交好运！红包虽小，满满的都是对你们的爱！
      </div>
    </li>
  </ul>

</div>
{{outlet}}
